body {
	background:#222222;
	background:url("../images/bg.jpg");
}

jocard {
	background:transparent;
}

.players-label {
	height:100px;
	line-height:120px;
	-webkit-transform:rotate(-90deg);
	-webkit-box-flex:0;
	margin-left:-20px;
	font-weight:bold;
}

joScroller > joContainer > avatar {
	float:left;
}

avatar {
	border:2px solid #222222;
	background-color:#222222;
	-webkit-border-radius:8px;
	display:table;
	color:#ffffff;
	-webkit-box-shadow:3px 3px 5px #888;
	margin:10px;
}

avatar .player-photo {
	background-color:#ffffff;
	-webkit-border-radius:8px;
	position:relative;
}

avatar .player-photo joflexrow {
	position:absolute;
	bottom:0px;
	width:100%;
}

avatar jocaption.player-level {
	text-align:center;
	font-weight:bold;
	-webkit-box-flex:0;
	background-color:rgba(200,200,240,0.7);
	color:#202040;
	margin:0px;
	width:18px;
	-webkit-border-radius:8px;
}

avatar jocaption.player-name {
	text-align:center;
	-webkit-box-flex:0;
	padding:0px;
	margin:0px;
	height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

avatar jocaption.player-gear {
	text-align:center;
	font-weight:bold;
	-webkit-box-flex:0;
	background-color:rgba(200,200,240,0.7);
	color:#202040;
	margin:0px;
	width:18px;
	-webkit-border-radius:8px;
}

joscroller.h-scroller {
	position:static;
	height:120px;
	width:100%;
	-webkit-box-shadow:3px 3px 5px #888 inset;
	z-index:10;
	margin-right:0px;	/* overriding joflexrow > * */
}

joscroller.h-scroller > * {
	position:relative;
}

.player-details-label {
	width:30px;
	line-height:40px;
	-webkit-box-flex:0;
	-webkit-background-size:100% auto;
}

.player-details-value {
	width:30px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	font-size:larger;
	text-align:center;
	-webkit-box-flex:0;
}

jocaption.player-level-label {
	background:url(../images/level.png) no-repeat center center;
}

jocaption.player-strength-label {
	background:url(../images/strength.png) no-repeat center center;
}

.player-name-row input {
	margin-top:10px;
}

jocaption.player-name-label { /* .player-details-label */
	background:url(../images/player.png) no-repeat center center;
}
/*
.selected {
	background-color: #ffffff;
}

jolabeledslider {
	display:-webkit-box;
}

jolabeledslider jolabel {
	width:25px;
	-webkit-box-flex:0;
}

jocard.main jolistitem {
	padding:3px;
	background:none;
}

jocard.main jolistitem.selected {
	padding:3px;
	background:#ffffff;
}

jocard.main joslider {
	height:20px;
	top:10px;
}

jocard.main joslider josliderthumb {
	padding:0px;
	height:22px;
	top:-2px;
	-webkit-border-radius:10px;
}

jocard.main jocaption.player-level {
	-webkit-box-flex:0;
	text-align:center;
	line-height:40px;
	width:30px;
	background:url(../images/level.png) no-repeat center center;
	-webkit-background-size:100% auto;
}

jocard.main .player-details  {
	margin:-3px -3px -3px -3px;
}

jocard.main .player-details.open joflexrow {
	background-color:inherit;
}

.hideme {
	display:none;
}

jocard.main jolistitem > joflexrow > joicon {
    display:block;
	background: url(expando.png) no-repeat;
	-webkit-background-size: 100% 100%;
	-webkit-transform: rotate(0deg);
	height:25px;
	width:25px;
	margin:15px 10px 15px 10px;
	-webkit-box-flex:0;
}

jocard.main jolistitem > joflexrow > joicon.open {
	-webkit-transform: rotate(90deg);
}

jocard.main .player-details  > joexpandocontent {
	padding:0px;
}

jocard.main .player-details.open  > joexpandocontent {
	padding-top:10px;
}

jocard.main .player-details jolabel {
	line-height:48px;
	width:80px;
	-webkit-box-flex:0;
}

jocard.main .player-details input {
	width:50px;
	-webkit-box-flex:0;
	text-align:center;
}

jocard.main .player-details jobutton {
	width:20px;
	-webkit-box-flex:0;
}

jocaption.strength-label {
	-webkit-box-flex:0;
	line-height:40px;
	width:30px;
	text-align:center;
	background:url(../images/strength.png) no-repeat center center;
	-webkit-background-size:100% auto;
}

jocaption.player-name {
	-webkit-box-flex:0;
	line-height:40px;
	width:60px;
	background:url(../images/player.png) no-repeat center left;
	-webkit-background-size:auto 85%;
}

joslider.animate josliderthumb {
	-webkit-transition: all 100ms linear;
}

jocard.battle > joflexrow > jocaption {
	width:80px;
	-webkit-box-flex:0;
}

jostack > .next {
  z-index: -1;
  opacity: 0.5;
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(100%);
  -moz-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(100%);
  -o-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(100%);
  -ms-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(100%);
  height: 100%;
  overflow: hidden;
}
jostack > .prev {
  z-index: 1;
  opacity:0.5;
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(-100%);
  -moz-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(-100%);
  -o-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(-100%);
  -ms-transform: scale3d(0.8, 0.8, 0.8) translatey(-10%) translatex(-100%);
  height: 100%;
  overflow: hidden;
}
*/